@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

@media screen and (max-width: 640px) {
  .item {
    width: 100%;
  }
}
body{
  margin: 0;
}
h5{
  text-align: center;
  padding-top: 5px;
}
h2{
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}
h1{
  /*color: #585858; grey*/
  color: #03B6F0;
  font-family: 'Lato', sans-serif;
  padding-top: 1%;
  font-weight: lighter;
}
p{
  font-family: 'Lato', sans-serif;
}
a{
  text-align: center;
}
.app{
  margin-top: 80px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #3FB5F0!important;
}
.justify-center{
  justify-content: center;
}

.ggform-icon{
  width: 50px;
  padding-bottom: 3%;
}

.text-left{
  text-align: left;
}
.text-res{
  text-align: left;
}

.logo{
  width: 120px;
}
.align-logo{
  text-align: left;
}

.text-center{
  text-align: center;
}
.container{
  width: 100%;
  max-width: none!important;
  padding: 0!important;
}
.item33{
  width: 33%;
}
.item50{
  width: 50%;
}
.item60{
  width: 50%;
}
.item40{
  width: 50%;
}
.picto{
  width: 12%;
}
.picto-title{
  font-family: 'Lato', sans-serif;
  font-size: 1.5vw;
  margin-top: 15px;
  margin-bottom: 15px;
}

ul.bloc-list{
  list-style: none;
}
li.text-list::before {
  content: "•";
  color: #03B6F0;
  margin-right: 15px;
  font-size: 2vw;
}
li.text-list {
  content: "•";
  color: #585858;
  margin-right: 15px;
  font-size: 1.5vw;
  padding-bottom: 20px;
}

.text-grey{
  color: #585858;
}


.title-name{
  font-size: 4vw;

}
.title-word {
  font-size: 2.5vw;
}

.title2{
  font-size: 2vw;
    font-weight: lighter;
}

.commingsoon{
  font-size: 2vw;
  color: #000;
  font-family: 'Lato', sans-serif;;
  font-weight: lighter;
}

.pad3{
  padding: 3%;
}

.picto-dsc{
  font-family: 'Lato', sans-serif;
  color: #7A7A7A;
  font-size: 1.2vw;
  padding: 0vw 2.6vw;
  margin-top: 15px;
}

.illus{
  width: 100%;
  height: auto;
  text-align: center;
}
.illusordi{
  margin: 12.2% 0;
}
.illusbloc{
  order: 0;
  align-content: center;
  text-align: center;
  margin-top: -3%;
  padding: 0!important;
}

.picto-bloc{
  z-index: 10;
  position: relative;
}

.picto-hr{
  display: none;
  border: #03B6F0 solid 1px;
  width: 50%;
}

.hr2{
  width: 20%!important;
}

.footer{
  background-color: #03B6F0;
}
.dot {
  display: none;
  height: 20px;
  width: 20px;
  background-color: #02B5F0;
  border-radius: 50%;
}

.title-footer{
  font-size: 2vw;
  margin-bottom: 2%;
  font-family: 'Lato', sans-serif;
}

.pad-l3{
  padding-left: 3%;
}
.m-l3{
  padding-left: 3%;
}
.pad-t5{
  padding-top: 5%;
}

.pad-b3{
  padding-bottom: 2%;
}

.text-white{
  color: #ffffff;
}
.footer{
  text-align: left;
}
.quest{
  font-size: 1.5vw;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}

@media screen and (min-width: 1600px){
  .picto-bloc{
    margin-top: -4%!important;
  }
}

@media screen and (max-width: 640px){
  .item50{
    width: 100%!important;
  }
  .text-res{
    text-align: center;
  }
  .illusbloc{
    order: 1!important;
  }
  h1{
    font-size: 6vw!important;
    font-family: 'Lato', sans-serif;
  }
  .align-logo{
    text-align: center!important;
  }
  .commingsoon{
    font-size: 5vw;
  }
  .quest{
    font-size: 4vw;
  }
  .item33{
    width: 100% !important;
  }
  .picto-title{
    font-size: 5vw;
  }
  .picto-dsc{
    font-size: 4vw;
  }
  .picto-hr{
    display: block;
  }
  .picto{
    width: 15%;
  }
  .title-footer{
    font-size: 5vw;
  }
  .footer{
    text-align: center;
  }
  .title2{
    padding-top: 0;
    font-size: 6vw!important;
  }
  .dot {
    display: inline-block;
  }

}

ul.block1_text_list {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #5f5d5d;
  list-style: none;
  padding: 0px;
  -webkit-margin-before: 40px;
  -webkit-margin-after: 41px;
  margin-top: 40px;
  margin-bottom: 70px;
}

li.block1_text_list {
  margin-bottom: 24px;
  font-size: 1.1vw!important;

}

li.block1_text_list::before {
  content: "•";
  color: #03B6F0;
  margin-right: 15px;
}

.bck-grey{
    background: linear-gradient(to bottom right,#fff,#D9DADD);
}
.desc{
    font-size: 1.5vw;
    text-align: justify;
}
a:hover {
   color: #fff!important;
  text-decoration: none!important;
}
a.text-grey:hover {
  color: #585858!important;
  text-decoration: none!important;
}
a.rs:hover{
  color: #BAE6FA!important;
  text-decoration: none!important;
}

.ft-s2{
  font-size: 1.3vw;
}
.ft-s0-7{
  font-size: 0.9vw;
}
.bulle{
  float: right;
  width: 97%;
  background-color: #ffffff;
  color: #585858;
  padding: 10px;
  text-align: center;
  font-size: larger;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}
.pb-8{
  padding-bottom: 8rem!important;
}
.z-10{
   z-index: 10;
 }

.caption {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate( -50%, -50% );
  width: 50%;
  padding: 15px;
}
.bg-white09{
  background-color: rgba(255,255,255,.9);

}
.fa-size{
  font-size: 30px!important;
  padding: 5px;
}

.form-check-input {
  position: absolute;
   margin-top: 0!important;
  margin-left: -1.0rem!important;
}
.btn-primary:hover {
  color: #fff;
  background-color: #BAE6FA!important;
  border-color: #BAE6FA!important;
}

a.nav-hover:hover{
  color: #585858!important;
  opacity: 0.6;
}


