@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

@media screen and (min-width: 1600px){
  .picto-bloc{
    margin-top: -4%!important;
  }
}

@media screen and (max-width: 768px){
  .item {
    width: 100%;
  }
  .text-res{
    text-align: center!important;
  }
  .illusbloc{
    order: 1!important;
    margin-top: 0px!important;
  }
  .align-logo{
    text-align: center!important;
  }
  .commingsoon{
    font-size: 5rem;
  }
  .quest{
    font-size: 4rem;
  }
  .item33{
    width: 100% !important;
  }
  .picto-hr{
    display: block!important;
  }
  .title-footer{
    font-size: 5rem;
  }
  .footer{
    text-align: center;
  }
  .title-word {
    font-size: 1.3rem!important;
  }
  .title-word2 {
    font-size: 1.3rem!important;
  }
  li.text-list {
    font-size: 1rem!important;
  }
  li.text-list:before {
    font-size: 1.2rem!important;
  }
  .dot {
    display: inline-block;
  }
  h3{
    font-size: 1.2rem!important;
  }
}

html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  font-family: 'Lato', sans-serif;
}

a{
  text-align: center;
}
.app{
  margin-top: 80px;
}
.row{
  width: 100%;
  margin: 0!important;
}
.border-lg{
  border: 5px solid;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #3FB5F0!important;
}

.fa-1-2{
  font-size: 1.2rem!important;
}
.fa-0-8{
  font-size: 0.6rem!important;
}

.pt-6{
  padding-top: 4rem;
}

.pt-7{
  padding-top: 5.5rem;
}

.mt-7{
  margin-top: 5.5rem!important;
}

.pb-7{
  padding-bottom: 5rem;
}


.text-res{
  text-align: left;
}

.logo{
  width: 120px;
}
.align-logo{
  text-align: left;
}

.container{
  width: 100%;
  max-width: none!important;
  padding: 0!important;
}
.item33{
  width: 33%;
}

.picto{
  width: 55px;
}
.picto-title{
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  margin-top: 15px;
  margin-bottom: 15px;
}

ul.bloc-list{
  list-style: none;
}
li.text-list::before {
  content: "•";
  color: #03B6F0;
  margin-right: 15px;
  font-size: 2rem;
}

li.text-list {
  content: "•";
  color: #585858;
  margin-right: 15px;
  font-size: 1.3rem;
}

.text-grey{
  color: #585858;
}

.title-name{
  font-size: 3rem;;
}
.title-word {
  font-size: 2.3rem;
}
.title-word2 {
  font-size: 1.8rem;
}

.title2{
  font-size: 2rem;
  font-weight: lighter;
}

.border-radius50{
  border-radius: 50px;
}

.commingsoon{
  font-size: 2rem;
  color: #000;
  font-family: 'Lato', sans-serif;;
  font-weight: lighter;
}

.picto-dsc{
  font-family: 'Lato', sans-serif;
  color: #7A7A7A;
  font-size: 1.2rem;
  margin-top: 15px;
}

.illus{
  width: 100%;
  height: auto;
  text-align: center;
}
.illusordi{
  margin: 12.2% 0;
}
.illusbloc{
  order: 0;
  align-content: center;
  text-align: center;
  margin-top: -3%;
  padding: 0!important;
}

.picto-bloc{
  z-index: 10;
  position: relative;
}

.picto-hr{
  display: none;
  border: #03B6F0 solid 1px;
  width: 50%;
}

.hr2{
  width: 20%!important;
}

.footer{
  background-color: #03B6F0;
}
.dot {
  display: none;
  height: 20px;
  width: 20px;
  background-color: #02B5F0;
  border-radius: 50%;
}

.title-footer{
  font-size: 2rem;
  margin-bottom: 2%;
  font-family: 'Lato', sans-serif;
}

.pad-l3{
  padding-left: 3%;
}
.m-l3{
  padding-left: 3%;
}
.pad-t5{
  padding-top: 5%;
}

.pad-b3{
  padding-bottom: 2%;
}

.text-white{
  color: #ffffff;
}
.footer{
  text-align: left;
}
.quest{
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}



ul.block1_text_list {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #5f5d5d;
  list-style: none;
  padding: 0px;
  -webkit-margin-before: 40px;
  -webkit-margin-after: 41px;
  margin-top: 40px;
  margin-bottom: 70px;
}

li.block1_text_list {
  margin-bottom: 24px;
  font-size: 1.1rem!important;

}

li.block1_text_list::before {
  content: "•";
  color: #03B6F0;
  margin-right: 15px;
}

.bck-grey{
  background: linear-gradient(to bottom right,#fff,#EEEEEE);
}
.bck-grey-hover:hover{
  background: linear-gradient(to bottom right,#EEEEEE,#ffffff);
}

.desc{
    font-size: 1rem;
    text-align: justify;
}
a:hover {
   color: #fff!important;
  text-decoration: none!important;
}
a.text-grey:hover {
  color: #585858!important;
  text-decoration: none!important;
}
a.rs:hover{
  color: #BAE6FA!important;
  text-decoration: none!important;
}

.ft-s2{
  font-size: 1.3rem;
}
.ft-s0-7{
  font-size: 0.8rem;
}
.sib-form{
  padding: 0!important;
}
#sib-container{
  padding: 0!important;
}
.sib-form-block {
  padding: 0px!important;
}
.g-recaptcha{
  display: none!important;
}

.bulle{
float: right;
width: 97%;
background-color: #ffffff;
color: #585858;
padding: 10px;
text-align: center;
font-size: larger;
border-radius: 0.5rem;
box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}
.pb-8{
padding-bottom: 8rem!important;
}
.z-10{
z-index: 10;
}

.caption {
position: absolute;
top: 50%;
left: 30%;
transform: translate( -50%, -50% );
width: 50%;
padding: 15px;
}
.bg-white09{
background-color: rgba(255,255,255,.9);

}
.fa-size{
font-size: 30px!important;
padding: 5px;
}

.form-check-input {
position: absolute;
margin-top: 0!important;
margin-left: -1.0rem!important;
}
.btn-primary:hover {
color: #fff;
background-color: #BAE6FA!important;
border-color: #BAE6FA!important;
}

a.nav-hover:hover{
color: #585858!important;
opacity: 0.6;
}

.z-100{
  z-index: 100;
}

.cookie-notice-container{
  color: #fff;
  position: fixed;
  bottom: 0;
  background-color: #03B6F0;
  z-index: 10000;
  padding: 10px;
  width: 100%;
  text-align: center;
}

